<!DOCTYPE html>
<html>

  <head>
    <title>Integer Sequence</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="../static/images/newapp-icon.jpg">
          </td>
        <td>
            <h1>Please Enter Sequence Here </h1>
            <h5>Requested Format : n1,n2,n3,n4 </h5>
      
            <p> <form method="POST" action="/myapp">
                <input name="text1" type="text" placeholder="1,2,3,4">
                <input type="submit" >
                </form>
            <span class = "blue"></span>
            </p>
            <br/>
            <ul class="w3-ul w3-card-4 w3-center w3-hover-color">
                <li ><h3> Constraints </h3></li>
                <li class="w3-hover-red"> Max len of any number is 10</li>
                <li class="w3-hover-red">Max len of Sequence is 400 </li>
                <li class="w3-hover-red">All numbers should be seperated by comma( , )</li>
              </ul>
            </td>
        </tr>
    </table>

   


  </body>

</html>



